# Data Cleaning for Latitude and Longitude

---

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import seaborn as sns
from scipy.stats import linregress

# Impor the OpenWeatherMap API key
from api_keys import weather_api_key

### Generate the CSV

In [10]:
# Study data files
internet_data_csv = "Resources/Internet_data.csv"

# Read the data and the study results
internet_data = pd.read_csv(internet_data_csv)

# Display the data table for preview
internet_data.head()

,Country,Edition,1.1.1) Internet users,1.1.2) Fixed-line broadband subscribers,1.1.3) Mobile subscribers,1.1.4) Gender gap in internet access,1.1.5) Gender gap in mobile phone access,1.2.1) Average fixed broadband upload speed,1.2.2) Average fixed broadband download speed,1.2.3) Average fixed broadband latency,...,BG15) Internet users (population),BG16) Offline population,BG17) Internet access gender gap,BG18) Mobile phone access gender gap,BG19) Internet users (percent of population),BG20) Male internet users,BG21) Female internet users,BG22) Male mobile phone subscribers,BG23) Female mobile phone subscribers,BG24) Total fixed line broadband subscribers
0,Algeria,E1,31.9,5.71,108.8,NaN,NaN,1.69,3.39,74.00,...,15.23,24.64,NaN,NaN,38.2,NaN,NaN,95.5,89.9,2269348
1,Algeria,E2,47.3,7.05,116.0,22.0,7.8,6.12,7.85,76.92,...,17.44,23.18,13.0,7.0,42.9,59.0,46.0,90.0,83.0,2859567
2,Algeria,E3,54.2,7.76,110.8,11.7,8.9,2.59,3.77,64.71,...,19.71,21.62,7.0,8.0,47.7,60.0,53.0,90.0,82.0,3210267
3,Algeria,E4,74.4,7.26,111.7,21.7,7.3,1.97,3.87,64.99,...,20.64,21.45,13.0,6.0,49.0,60.0,47.0,82.0,76.0,3067022
4,Algeria,E5,74.4,8.32,109.4,10.9,8.0,1.41,3.84,54.09,...,20.64,21.45,7.0,7.0,49.0,64.0,57.0,87.0,80.0,3582739

---

In [11]:
### Isolate Country Column

In [14]:
#Isolate the Country Column
country_list = internet_data["Country"].unique()

list_of_countries = pd.DataFrame(country_list)

# Display the data table for preview
list_of_countries.

              0
0       Algeria
1        Angola
2     Argentina
3     Australia
4       Austria
..          ...
115  Uzbekistan
116   Venezuela
117     Vietnam
118      Zambia
119    Zimbabwe

[120 rows x 1 columns]

### Use the OpenWeatherMap API to retrieve weather data from the countries list generated in the started code

In [36]:
# Set the API base URL
url = "http://api.openweathermap.org/data/2.5/weather?"

# Define an empty list to fetch the weather data for each city
country_data = []

# Print to logger
print("Beginning Data Retrieval     ")
print("-----------------------------")


# Loop through all the cities in our list to fetch weather data
for i, country in enumerate(country_list):
        
    # Group cities in sets of 50 for logging purposes

    # Create endpoint URL with each city
    country_url = url + "appid=" + "fd2a322ea2f8fbfb679a2b7c73225b84" + "&q=" + country
    
    # Log the url, record, and set numbers

    # Add 1 to the record count
    #record_count += 1
    # Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data
        response = requests.get(country_url).json()
        
        # Parse out latitude, longitude, max temp, humidity, cloudiness, wind speed, country, and date
        country_data_lat = response["coord"]["lat"]
        country_data_lon = response["coord"]["lon"]
        
        # Append the City information into city_data list
        country_data.append({"Country": country, 
                          "Lat": country_data_lat, 
                          "Lng": country_data_lon, 
                          })

    # If an error is experienced, skip the city
    except:
        print("C not found. Skipping...")
        pass
              
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
C not found. Skipping...
C not found. Skipping...
C not found. Skipping...
C not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [37]:
# Convert the cities weather data into a Pandas DataFrame
country_data_df = pd.DataFrame(country_data)

# Show Record Count
country_data_df.count()

Country    116
Lat        116
Lng        116
dtype: int64

In [38]:
# Display sample data
country_data_df.head()

     Country      Lat       Lng
0    Algeria  28.0000    3.0000
1     Angola -12.5000   18.5000
2  Argentina -34.0000  -64.0000
3  Australia -25.0000  135.0000
4    Austria  47.3333   13.3333

In [39]:
# Export the City_Data into a csv
country_data_df.to_csv("Resources/Country_Lat_Lon.csv", index_label="City_ID")