In [1]:
#Importing libraries
import pandas as pd
from pathlib import Path

# Import the API key
from config import geoapify_key

#Import requests and json
import requests
import json

In [2]:
#Importing data
censorship_data_csv = Path("Resources/Censorship_Data_by_Country.csv")
population_data_csv = Path("Resources/Country_Population_2023.csv")

#Reading data
censorship_data = pd.read_csv(censorship_data_csv)
population_data = pd.read_csv(population_data_csv)

In [3]:
#Inspecting data for Censorship
censorship_data.head()

,Flag,Country,Score,Torrents Restricted?,Torrents Banned or Shut Down?,Pornography Restricted?,Pornography Banned?,Political Media Restricted?,Political Media Heavily Censored?,Social Media Restricted?,Social Media Banned?,VPNs Restricted,VPNs Banned?,Messaging and VoIP App Restrictions
0,:af:,Afghanistan,6,Y,N,Y,Y,Y,Y,Y,N,N,N,N
1,:al:,Albania,2,Y,N,N,N,Y,N,N,N,N,N,N
2,:dz:,Algeria,5,Y,N,Y,N,Y,Y,Y,N,N,N,N
3,:ad:,Andorra,1,Y,N,N,N,N,N,N,N,N,N,N
4,:ao:,Angola,2,Y,N,N,N,Y,N,N,N,N,N,N

In [4]:
#Inspecting data for Population
population_data.head()

   # Country (or dependency) Population (2023)
0  1                   India     1,428,627,663
1  2                   China     1,425,671,352
2  3           United States       339,996,563
3  4               Indonesia       277,534,122
4  5                Pakistan       240,485,658

In [12]:
#Cleaning and Renaming Population Data
population_data = population_data.rename(columns={"Country (or dependency)":"Country"})
population_data = population_data.drop(columns=["#"])
population_data.head()

         Country Population (2023)
0          India     1,428,627,663
1          China     1,425,671,352
2  United States       339,996,563
3      Indonesia       277,534,122
4       Pakistan       240,485,658

In [13]:
#Merging Censorship and Population
censor_data = pd.merge(censorship_data, population_data, on="Country", how="left")
censor_data.head()

,Flag,Country,Score,Torrents Restricted?,Torrents Banned or Shut Down?,Pornography Restricted?,Pornography Banned?,Political Media Restricted?,Political Media Heavily Censored?,Social Media Restricted?,Social Media Banned?,VPNs Restricted,VPNs Banned?,Messaging and VoIP App Restrictions,Population (2023)
0,:af:,Afghanistan,6,Y,N,Y,Y,Y,Y,Y,N,N,N,N,"42,239,854"
1,:al:,Albania,2,Y,N,N,N,Y,N,N,N,N,N,N,"2,832,439"
2,:dz:,Algeria,5,Y,N,Y,N,Y,Y,Y,N,N,N,N,"45,606,480"
3,:ad:,Andorra,1,Y,N,N,N,N,N,N,N,N,N,N,"80,088"
4,:ao:,Angola,2,Y,N,N,N,Y,N,N,N,N,N,N,"36,684,202"

In [ ]:
# Set the search parameters
target_country = 

lat_lon_list = []

params = {
    "text": target_country,
    "apiKey": geoapify_key
}

# Build URL using the geocode endpoint
base_url = "https://api.geoapify.com/v1/geocode/search"

for country in target_country:
    # Run request
    response = requests.get(base_url, params=params).json()

    # Extract lat/lon
    lat = response["features"][0]["properties"]["lat"]
    lon = response["features"][0]["properties"]["lon"]

    lat_lon_list.append(lat)
    lat_lon_list.append(lon)